<div class="container d-flex justify-content-center align-items-start vh-100 mt-custom">
  <div>
    <div class="text-center">
      <h1>Reschedule Session</h1>
    </div>

    <div>
      <p class="text-center">Date: <%= @date.strftime("%B %d, %Y") %></p>
    </div>

    <div>
      <%= render "form", booking: @booking %>
      <a href="<%= bookings_path %>" class="btn btn-secondary d-block mx-auto mt-3">Back to bookings</a>
    </div>
  </div>
</div>
