<div class="container mt-4">
  <div>
    <h1>My Schedule: </h1>
    <%= link_to "New Schedule", new_schedule_path, class: "btn btn-success" %>
  </div>

  <div class="row row-cols-4 mt-4 gap-3">
    <% current_user.trainer_schedules.each do |schedule| %>
      <div class="card p-3">
        <%= render schedule %>
      </div>
    <% end %>
  </div>
</div>

