<div id="schedules">
  <h1>My Schedule: </h1>

  <div>
    <%= link_to "Create Schedule", new_schedule_path, class: "btn btn-warning" %>
  </div>

  <hr>
  <% current_user.trainer_schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
    <hr>
  <% end %>
</div>
