<body class="landing">
  <main>
    <section class="section-hero">
      <div class="hero">
        <div>
          <h1 class="heading-primary">
            Elevate how you manage your fitness experience!
          </h1>
          <p class="hero-description">
            3E Fitness revolutionizes the personal training booking process by offering a seamless, user-friendly interface that simplifies scheduling for both trainers and members. 3E can effortlessly oversee and manage bookings, optimizing their workflow and ensuring efficient utilization of resources.
          </p>
          <%= link_to 'Try it now!', new_user_registration_path, class: "main-nav-link nav-cta margin-right-sm" %>
        </div>
        <div class="hero-img-box">
        <img
          src="/assets/LandingPage.jpeg"
          class="hero-img"
          alt="Man in the gym using their phone"
        />
        </div>
      </div>
    </section>

    <section class="section-trainers">
      <div class="container center-text">
        <span class="subheading">Fitness Staff</span>
        <h2 class="heading-secondary">
          Meet our elite group of trainers!
        </h2>
      </div>

      <div class="container grid grid--3-cols margin-bottom-md">
        <div class="trainer">
          <div class="trainer-content">
            <div class="trainer-tags">
              <span class="tag tag--trainer">Level 1 Trainer</span>
            </div>
            <p class="trainer-name">Sophia Johnson</p>
            <ul class="trainer-certs">
              <li class="trainer-attribute">
                <i class="fa-solid fa-certificate" style="color: #54865c"></i>
                <span><strong>NASM</strong> certified</span>
              </li>
              <li class="trainer-attribute">
                <i class="fa-solid fa-certificate" style="color: #54865c"></i>
                <span><strong>NSCA</strong> certified</span>
              </li>
              <li class="trainer-attribute">
                <i class="fa-solid fa-star" style="color: #54865c"></i>
                <span><strong>4.9</strong> rating (537)</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="trainer">
          <div class="trainer-content">
            <div class="trainer-tags">
              <span class="tag tag--trainer">Level 3 Trainer</span>
            </div>
            <p class="trainer-name">Emily Claire</p>
            <ul class="trainer-certs">
              <li class="trainer-attribute">
                <i class="fa-solid fa-certificate" style="color: #54865c"></i>
                <span><strong>NASM</strong> certified</span>
              </li>
              <li class="trainer-attribute">
                <i class="fa-solid fa-certificate" style="color: #54865c"></i>
                <span><strong>ACSM</strong> certified</span>
              </li>
              <li class="trainer-attribute">
                <i class="fa-solid fa-star" style="color: #54865c"></i>
                <span><strong>4.7</strong> rating (537)</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="trainer">
          <div class="trainer-content">
            <div class="trainer-tags">
              <span class="tag tag--trainer">Level 3 Trainer</span>
            </div>
            <p class="trainer-name">Liam Smith</p>
            <ul class="trainer-certs">
              <li class="trainer-attribute">
              # inline style should be a class 
                <i class="fa-solid fa-certificate" style="color: #54865c"></i>
                <span><strong>NASM</strong> certified</span>
              </li>
              <li class="trainer-attribute">
                <i class="fa-solid fa-certificate" style="color: #54865c"></i>
                <span><strong>ISSA</strong> certified</span>
              </li>
              <li class="trainer-attribute">
                <i class="fa-solid fa-star" style="color: #54865c"></i>
                <span><strong>4.9</strong> rating (537)</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section class="mb-5">
        <div class="container center-text pt-5">
          <span class="subheading">How it works</span>
          <h2 class="heading-secondary">
            Personal training in 3 simple steps
          </h2>
        </div>

        <div class="container grid grid--2-cols grid--center-v">
          <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">
              Trainers set their availability
            </h3>
            <p class="step-description">
              Give your trainers the power to set up their own work availability. Through 3E, your trainers can easily determine when members can book them for a personal training session.
            </p>
          </div>
          <div class="step-img-box">
          #use rails helper/file name should be cleaned up
            <img
              src="/assets/Schedule.JPG"
              class="step-img"
              alt="work schedule list"
            />
          </div>

          <div class="step-img-box">
            <img
              src="/assets/Booking.jpg"
              class="step-img"
              alt="member booking form"
            />
          </div>
          <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">Members book their sessions</h3>
            <p class="step-description">
              Once your trainers have set up their work availability, your members can navigate the calendar to book for their services. Based on the date, members can select a specific trainer and book their available time slots.
            </p>
          </div>

          <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">Check your calendar for reminders</h3>
            <p class="step-description">
              Give your trainers and members the ability to visualize their fitness commitments. Use the calendar to remind your users when its time to take action and work out!
            </p>
          </div>
          <div class="step-img-box">
            <img
              src="/assets/Calendar.jpg"
              class="step-img"
              alt="member booking calendar"
            />
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section>
      <div class="testimonials-container">
        <div class="center-text">
          <span class="subheading">Testimonials</span>
          <h2 class="heading-secondary">Hear from our loyal clients</h2>
        </div>

        <div class="section-testimonials">
          <div class="testimonials">
            <figure class="testimonial">
              <img
                class="testimonial-img"
                alt="image of gym client, FXB"
                src="assets/FXB.jpg"
              />
              <blockquote class="testimonial-text">
                Reliable and manageable. My members and personal trainers have an easier time with their bookings!
              </blockquote>
              <p class="testimonial-name">&mdash; Fitness XBlink</p>
            </figure>

            <figure class="testimonial">
              <img
                class="testimonial-img"
                alt="photo of personal trainer Paul Cousins"
                src="assets/Headshot1 (2).jpg"
              />
              <blockquote class="testimonial-text">
                It's so easy to check up on my work schedule for the month with 3E! It does not disappoint.
              </blockquote>
              <p class="testimonial-name">&mdash; Paul Cousins</p>
            </figure>

            <figure class="testimonial">
              <img
                class="testimonial-img"
                alt="photo of a member Tanya King"
                src="assets/Headshot2 (2).jpg"
              />
              <blockquote class="testimonial-text">
                I really love the calendar layout. It makes it convenient to see who I have a personal training with.
              </blockquote>
              <p class="testimonial-name">&mdash; Tanya King</p>
            </figure>

            <figure class="testimonial">
              <img
                class="testimonial-img"
                alt="photo of a member Katie Li"
                src="assets/Headshot3 (2).jpg"
              />
              <blockquote class="testimonial-text">
                It is so convenient to use 3E. Never been easier getting connected with the right personal trainer!
              </blockquote>
              <p class="testimonial-name">&mdash; Katie Li</p>
            </figure>
          </div>

          <div>
            <video class="video" controls>
              <source src="/assets/ThreeEFitnessDemo.mp4">
            </video>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section section--sign-up">
      <div class="section-title">
        <h3 class="section-header">
          Effortless, efficient - exercise. Take control of your fitness now.
        </h3>
      </div>
      <%= link_to 'Make exercising convenient now!', new_user_registration_path, class: "main-nav-link nav-cta" %>
    </section>
  </main>
</body>
