/*
--- COLORS
-Primary lighter: #93d6b1;
-Primary color: #5ec576;
-Primary darker: #4bbb7d;
-Primary darkest: #428a53;

- Shades: 
Black: #37383d;
Gray: #555;
White: #fff; 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: #58806a;
}

hr {
  color:#37383d;
}

.landing {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

/* COMPONENTS */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #4bbb7d;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.3rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #428a53;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/* Bootstrap */
.btn-success {
  background-color: #428a53;
}

.btn-secondary {
  background-color: #37383d;
}

.date-link:hover {
  cursor: pointer;
  background-color: #93d6b1;
  border-radius: 8px;
  padding: 8px;
}

.date-non-link:hover {
  cursor: default;
  background-color: transparent;
}

.three-e-card-body {
  border-radius: 30px;
  font-size: 18px;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.mt-custom {
  margin-top: 100px;
}

.mr-custom {
  margin-right: 10px;
}

.flash-messages {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  text-align: center;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 18px;
}
